<link rel="stylesheet" href="/css/header.css">

<header id="header-container">
    <div id="Applogo">
        <a href="/">
            <img src="/images/logo.png" alt="app logo">
        </a>

    </div>
    <% if(locals.user){ %>
        <div id="loggedIn_user">
            <a href="/">
                <h4>Welcome <%= locals.user.name %>
                </h4>
            </a>
        </div>
        <% } %>
            <div id="loginSessions_Create">
                <% if(locals.user){ %>
                    <div id="">
                        <h3><a href="/">Home</a></h3>
                    </div>
                    <div id="">
                        <h3><a href="/collection/ScheduledInterviews">Interviews</a></h3>
                    </div>
                    <div id="">
                        <h3><a href="/collection/get-report">Download Report</a></h3>
                    </div>
                    <div id="signOut">
                        <h3><a href="/users/sign-out">logout</a></h3>
                    </div>
                    <% }else{ %>
                        <div id="signUp">
                            <h3><a href="/users/SignUp">Sign up</a></h3>
                        </div>
                        <div id="loginIn">
                            <h3><a href="/users/login">Sign in</a></h3>
                        </div>
                        <% } %>
            </div>

</header>