<link rel="stylesheet" href="/css/ScheduleInterview.css">

<div class="card">
    <h2>SCHEDULE INTERVIEW</h2>
    <form action="/collection/savescheduleInterviewData" method="POST">
        <div class="form-group">
            <label for="studentName">Student Name</label>
            <select id="studentName" name="studentName" required>
                <option value="placed">Select...</option>
                <% for(student of studentData){ %>
                    <option value="<%= student.id %>">
                        <%= student.name %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="Company">Company</label>
            <input placeholder="Enter company Name" type="text" id="Company" name="Company" required>
        </div>
        <div class="form-group">
            <label for="date">Preferred Date</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="time">Preferred Time</label>
            <input type="time" id="time" name="time" required>
        </div>
        <div class="form-group">
            <button type="submit">Schedule Interview</button>
        </div>
    </form>
</div>