<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/SignIn.css">
</head>

<body>
    <div class="signIn-body-container">
        <div id="sign-in-conatiner">
            <h2>LOG IN</h2>
            <form action="/users/create-session" method="POST">
                <div>
                    <div>
                        <label for="email">Email</label>
                    </div>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <button type="submit">Login In</button>
                </div>
            </form>
            <p>Not Register ? <span><a href="/users/SignUp">Sign Up</a></span></p>
        </div>
    </div>
</body>

</html>